appdirs==1.4.4
attrs==21.2.0
backports.entry-points-selectable==1.1.0
black==21.8b0
blis==0.7.4
catalogue==2.0.6
certifi==2021.5.30
cfgv==3.3.1
chardet==3.0.4
charset-normalizer==2.0.4
click==7.1.2
colorlog==4.8.0
cymem==2.0.5
Cython==0.29.24
dacite==1.6.0
dartsclone==0.9.0
distlib==0.3.2
filelock==3.0.12
flake8==3.9.2
flake8-bugbear==21.9.1
Flask==2.0.1
ginza==5.0.1
gitdb==4.0.7
GitPython==3.1.18
googletrans==4.0.0rc1
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2021.9.1
httpcore==0.9.1
httpx==0.13.3
huggingface-hub==0.0.16
hyperframe==5.2.0
identify==2.2.14
idna==3.2
isort==5.9.3
itsdangerous==2.0.1
ja-ginza==5.0.0
Janome==0.4.1
Jinja2==3.0.1
joblib==1.0.1
MarkupSafe==2.0.1
mccabe==0.6.1
murmurhash==1.0.5
mypy==0.790
mypy-extensions==0.4.3
nltk==3.6.2
nodeenv==1.6.0
numpy==1.21.2
packaging==21.0
pathspec==0.9.0
pathy==0.6.0
Pillow==8.3.2
plac==1.3.3
platformdirs==2.3.0
pre-commit==2.15.0
preshed==3.0.5
pycodestyle==2.7.0
pydantic==1.8.2
pyflakes==2.3.1
pyparsing==2.4.7
pysen==0.9.1
PyYAML==5.4.1
regex==2021.8.28
requests==2.26.0
rfc3986==1.5.0
sacremoses==0.0.45
six==1.16.0
smart-open==5.2.1
smmap==4.0.0
sniffio==1.2.0
sortedcontainers==2.1.0
spacy==3.1.2
spacy-legacy==3.0.8
srsly==2.4.1
SudachiDict-core==20210802
SudachiPy==0.5.2
thinc==8.0.10
tokenizers==0.10.3
toml==0.10.2
tomli==1.2.1
tomlkit==0.7.2
torch==1.9.0
torchvision==0.10.0
tqdm==4.62.2
transformers==4.10.0
typed-ast==1.4.3
typer==0.3.2
typing-extensions==3.10.0.2
unidiff==0.7.0
urllib3==1.26.6
virtualenv==20.7.2
wasabi==0.8.2
Werkzeug==2.0.1
